In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import json, sys, psycopg2, sqlite3
from datetime import datetime
from sqlalchemy import create_engine
from sqlalchemy import inspect

#Config should contain database username as username and database password as password
import config

In [2]:
#insert the website link 
#hospitalisation, cases number, death and RAT cases.
table_hos = []
table_cases = []
table_death = []
table_rat = []

states = ["vic", "nsw", "qld", "wa", "sa","tas","act", "nt" ]
for x in states:
    url_hos = (f"https://covidlive.com.au/report/daily-hospitalised/{x}")
    url_cases = (f"https://covidlive.com.au/report/daily-cases/{x}")
    url_deaths = (f"https://covidlive.com.au/report/daily-deaths/{x}") 
    url_rat = (f"https://covidlive.com.au/report/daily-cases-probable/{x}") 
    
    # retrieve database:
    table_hos1 = pd.read_html(url_hos)[1]
    table_cases1 = pd.read_html(url_cases)[1]
    table_death1 = pd.read_html(url_deaths)[1]
    table_rat1 = pd.read_html(url_rat)[1]

    #append to the list:
    table_hos.append(table_hos1)
    table_cases.append(table_cases1)
    table_death.append(table_death1)
    table_rat.append(table_rat1)

In [3]:
#VIC hospitalisation, Cases number, Death number and RAT cases
vic_hos = table_hos[0].copy()
vic_cases = table_cases[0].copy()
vic_death = table_death[0].copy()
vic_rat = table_rat[0].copy()

#NSW hospitalisation, Cases number, Death number and RAT cases
nsw_hos = table_hos[1].copy()
nsw_cases = table_cases[1].copy()
nsw_death = table_death[1].copy()
nsw_rat = table_rat[1].copy()

#QLD hospitalisation, Cases number, Death number and RAT cases
qld_hos = table_hos[2].copy()
qld_cases = table_cases[2].copy()
qld_death = table_death[2].copy()
qld_rat = table_rat[2].copy()

#WA hospitalisation, Cases number, Death number and RAT cases
wa_hos = table_hos[3].copy()
wa_cases = table_cases[3].copy()
wa_death = table_death[3].copy()
wa_rat = table_rat[3].copy()

#SA hospitalisation, Cases number, Death number and RAT cases
sa_hos = table_hos[4].copy()
sa_cases = table_cases[4].copy()
sa_death = table_death[4].copy()
sa_rat = table_rat[4].copy()

#TAS hospitalisation, Cases number, Death number and RAT cases
tas_hos = table_hos[5].copy()
tas_cases = table_cases[5].copy()
tas_death = table_death[5].copy()
tas_rat = table_rat[5].copy()

#ACT hospitalisation, Cases number, Death number and RAT cases
act_hos = table_hos[6].copy()
act_cases = table_cases[6].copy()
act_death = table_death[6].copy()
act_rat = table_rat[6].copy()

#NT hospitalisation, Cases number, Death number and RAT cases
nt_hos = table_hos[7].copy()
nt_cases = table_cases[7].copy()
nt_death = table_death[7].copy()
nt_rat = table_rat[7].copy()

In [4]:
#convert Date string to Datetime
vic_hos['DATE'] = pd.to_datetime(vic_hos['DATE'], format ="%d %b %y")
vic_cases['DATE'] = pd.to_datetime(vic_cases['DATE'], format ="%d %b %y")
vic_death['DATE'] = pd.to_datetime(vic_death['DATE'], format ="%d %b %y")
vic_rat['DATE'] = pd.to_datetime(vic_rat['DATE'], format ="%d %b %y")

nsw_hos['DATE'] = pd.to_datetime(nsw_hos['DATE'], format ="%d %b %y")
nsw_death['DATE'] = pd.to_datetime(nsw_death['DATE'], format ="%d %b %y")
nsw_cases['DATE'] = pd.to_datetime(nsw_cases['DATE'], format ="%d %b %y")
nsw_rat['DATE'] = pd.to_datetime(nsw_rat['DATE'], format ="%d %b %y")

qld_hos['DATE'] = pd.to_datetime(qld_hos['DATE'], format ="%d %b %y")
qld_cases['DATE'] = pd.to_datetime(qld_cases['DATE'], format ="%d %b %y")
qld_death['DATE'] = pd.to_datetime(qld_death['DATE'], format ="%d %b %y")
qld_rat['DATE'] = pd.to_datetime(qld_rat['DATE'], format ="%d %b %y")

wa_hos['DATE'] = pd.to_datetime(wa_hos['DATE'], format ="%d %b %y")
wa_cases['DATE'] = pd.to_datetime(wa_cases['DATE'], format ="%d %b %y")
wa_death['DATE'] = pd.to_datetime(wa_death['DATE'], format ="%d %b %y")
wa_rat['DATE'] = pd.to_datetime(wa_rat['DATE'], format ="%d %b %y")

sa_hos['DATE'] = pd.to_datetime(sa_hos['DATE'], format ="%d %b %y")
sa_cases['DATE'] = pd.to_datetime(sa_cases['DATE'], format ="%d %b %y")
sa_death['DATE'] = pd.to_datetime(sa_death['DATE'], format ="%d %b %y")
sa_rat['DATE'] = pd.to_datetime(sa_rat['DATE'], format ="%d %b %y")

tas_hos['DATE'] = pd.to_datetime(tas_hos['DATE'], format ="%d %b %y")
tas_cases['DATE'] = pd.to_datetime(tas_cases['DATE'], format ="%d %b %y")
tas_death['DATE'] = pd.to_datetime(tas_death['DATE'], format ="%d %b %y")
tas_rat['DATE'] = pd.to_datetime(tas_rat['DATE'], format ="%d %b %y")

act_hos['DATE'] = pd.to_datetime(act_hos['DATE'], format ="%d %b %y")
act_death['DATE'] = pd.to_datetime(act_death['DATE'], format ="%d %b %y")
act_cases['DATE'] = pd.to_datetime(act_cases['DATE'], format ="%d %b %y")
act_rat['DATE'] = pd.to_datetime(act_rat['DATE'], format ="%d %b %y")

nt_hos['DATE'] = pd.to_datetime(nt_hos['DATE'], format ="%d %b %y")
nt_cases['DATE'] = pd.to_datetime(nt_cases['DATE'], format ="%d %b %y")
nt_death['DATE'] = pd.to_datetime(nt_death['DATE'], format ="%d %b %y")
nt_rat['DATE'] = pd.to_datetime(nt_rat['DATE'], format ="%d %b %y")

In [5]:
#Joining tables to create a single dataframe for each state
#vic
vic_hos_cases = pd.merge (vic_hos, vic_cases, on = "DATE", how = 'right')
vic_death_rat = pd.merge (vic_death, vic_rat, on = "DATE", how ='right')
vic_raw = pd.merge (vic_hos_cases, vic_death_rat, on = "DATE", how = 'right')

#nsw
nsw_hos_cases = pd.merge (nsw_hos, nsw_cases, on = "DATE", how = 'right')
nsw_death_rat = pd.merge (nsw_death, nsw_rat, on = "DATE", how ='right')
nsw_raw = pd.merge (nsw_hos_cases, nsw_death_rat, on = "DATE", how = 'right')

#QLD
qld_hos_cases = pd.merge (qld_hos, qld_cases, on = "DATE", how = 'right')
qld_death_rat = pd.merge (qld_death, qld_rat, on = "DATE", how ='right')
qld_raw = pd.merge (qld_hos_cases, qld_death_rat, on = "DATE", how = 'right')

#WA
wa_hos_cases = pd.merge (wa_hos, wa_cases, on = "DATE", how = 'right')
wa_death_rat = pd.merge (wa_death, wa_rat, on = "DATE", how ='right')
wa_raw = pd.merge (wa_hos_cases, wa_death_rat, on = "DATE", how = 'right')

#SA
sa_hos_cases = pd.merge (sa_hos, sa_cases, on = "DATE", how = 'right')
sa_death_rat = pd.merge (sa_death, sa_rat, on = "DATE", how ='right')
sa_raw = pd.merge (sa_hos_cases, sa_death_rat, on = "DATE", how = 'right')

#TAS
tas_hos_cases = pd.merge (tas_hos, tas_cases, on = "DATE", how = 'right')
tas_death_rat = pd.merge (tas_death, tas_rat, on = "DATE", how ='right')
tas_raw = pd.merge (tas_hos_cases, tas_death_rat, on = "DATE", how = 'right')

#ACT
act_hos_cases = pd.merge (act_hos, act_cases, on = "DATE", how = 'right')
act_death_rat = pd.merge (act_death, act_rat, on = "DATE", how ='right')
act_raw = pd.merge (act_hos_cases, act_death_rat, on = "DATE", how = 'right')

#NT
nt_hos_cases = pd.merge (nt_hos, nt_cases, on = "DATE", how = 'right')
nt_death_rat = pd.merge (nt_death, nt_rat, on = "DATE", how ='right')
nt_raw = pd.merge (nt_hos_cases, nt_death_rat, on = "DATE", how = 'right')

In [6]:
#rename & reorder columns name
vic_rename = vic_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
vic_reorder = vic_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
vic_reorder["NEW RAT CASES"]= pd.to_numeric(vic_reorder["NEW RAT CASES"], errors='coerce')

#NSW
nsw_rename = nsw_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
nsw_reorder = nsw_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
nsw_reorder["NEW RAT CASES"]= pd.to_numeric(nsw_reorder["NEW RAT CASES"], errors='coerce')

#QLD
qld_rename = qld_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
qld_reorder = qld_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
qld_reorder["NEW RAT CASES"]= pd.to_numeric(qld_reorder["NEW RAT CASES"], errors='coerce')

#WA
wa_rename = wa_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
wa_reorder = wa_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
wa_reorder["NEW RAT CASES"]= pd.to_numeric(wa_reorder["NEW RAT CASES"], errors='coerce')

#SA
sa_rename = sa_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
sa_reorder = sa_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
sa_reorder["NEW RAT CASES"]= pd.to_numeric(sa_reorder["NEW RAT CASES"], errors='coerce')

#TAS
tas_rename = tas_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
tas_reorder = tas_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
tas_reorder["NEW RAT CASES"]= pd.to_numeric(tas_reorder["NEW RAT CASES"], errors='coerce')

#ACT
act_rename = act_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
act_reorder = act_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
act_reorder["NEW RAT CASES"]= pd.to_numeric(act_reorder["NEW RAT CASES"], errors='coerce')

#NT
nt_rename = nt_raw.rename(columns={"NEW_x": "NEW CASES", "CASES_x": "CURRENT CASES", "NEW_y": "NEW RAT CASES", "CASES_y": "CURRENT RAT CASES"})
nt_reorder = nt_rename[["DATE", "HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
#convert "New Rat Cases" column from object to float
nt_reorder["NEW RAT CASES"]= pd.to_numeric(nt_reorder["NEW RAT CASES"], errors='coerce')

C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vic_reorder["NEW RAT CASES"]= pd.to_numeric(vic_reorder["NEW RAT CASES"], errors='coerce')
C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nsw_reorder["NEW RAT CASES"]= pd.to_numeric(nsw_reorder["NEW RAT CASES"], errors='coerce')
C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qld_reorder["NEW RAT CASES"]= pd.to_numeric(qld_reorder["NEW RAT CASES"], errors='coerce')
C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wa_reorder["NEW RAT CASES"]= pd.to_numeric(wa_reorder["NEW RAT CASES"], errors='coerce')
C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sa_reorder["NEW RAT CASES"]= pd.to_numeric(sa_reorder["NEW RAT CASES"], errors='coerce')
C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tas_reorder["NEW RAT CASES"]= pd.to_numeric(tas_reorder["NEW RAT CASES"], errors='coerce')
C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  act_reorder["NEW RAT CASES"]= pd.to_numeric(act_reorder["NEW RAT CASES"], errors='coerce')
C:\Users\John Paul\AppData\Local\Temp\ipykernel_2840\334271857.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nt_reorder["NEW RAT CASES"]= pd.to_numeric(nt_reorder["NEW RAT CASES"], errors='coerce')

In [7]:
#copy data before doing cleaning.
vic_reorder_copy = vic_reorder.copy()
nsw_reorder_copy = nsw_reorder.copy()
wa_reorder_copy = wa_reorder.copy()
sa_reorder_copy = sa_reorder.copy()
tas_reorder_copy = tas_reorder.copy()
act_reorder_copy = act_reorder.copy()
nt_reorder_copy = nt_reorder.copy()
qld_reorder_copy = qld_reorder.copy()

In [8]:
#Adding additional Week and Year columns to the Dataframe to do groupby at later stage
#VIC
vic_reorder_copy['Year'] = vic_reorder_copy["DATE"].dt.year
vic_reorder_copy['Week'] = vic_reorder_copy["DATE"].dt.isocalendar().week

#NSW
nsw_reorder_copy['Year'] = nsw_reorder_copy["DATE"].dt.year
nsw_reorder_copy['Week'] = nsw_reorder_copy["DATE"].dt.isocalendar().week

#ACT
act_reorder_copy['Year'] = act_reorder_copy["DATE"].dt.year
act_reorder_copy['Week'] = act_reorder_copy["DATE"].dt.isocalendar().week

#QLD
qld_reorder_copy['Year'] = qld_reorder_copy["DATE"].dt.year
qld_reorder_copy['Week'] = qld_reorder_copy["DATE"].dt.isocalendar().week

#NT
nt_reorder_copy['Year'] = nt_reorder_copy["DATE"].dt.year
nt_reorder_copy['Week'] = nt_reorder_copy["DATE"].dt.isocalendar().week

#WA
wa_reorder_copy['Year'] = wa_reorder_copy["DATE"].dt.year
wa_reorder_copy['Week'] = wa_reorder_copy["DATE"].dt.isocalendar().week

#SA
sa_reorder_copy['Year'] = sa_reorder_copy["DATE"].dt.year
sa_reorder_copy['Week'] = sa_reorder_copy["DATE"].dt.isocalendar().week

#TAS
tas_reorder_copy['Year'] = tas_reorder_copy["DATE"].dt.year
tas_reorder_copy['Week'] = tas_reorder_copy["DATE"].dt.isocalendar().week

In [10]:
#filter weekly data from the dataset from 16/09/2022 to the current due to the data was given in weekly only
#VIC
vic_reorder_loc = vic_reorder_copy.loc[(vic_reorder_copy['Week']>36)& (vic_reorder_copy['DATE']>"2022-09-09"),:]

#ACT
act_reorder_loc = act_reorder_copy.loc[(act_reorder_copy['Week']>36)& (act_reorder_copy['DATE']>"2022-09-09"),:]

#NSW
nsw_reorder_loc = nsw_reorder_copy.loc[(nsw_reorder_copy['Week']>36)& (nsw_reorder_copy['DATE']>"2022-09-09"),:]

#QLD
qld_reorder_loc = qld_reorder_copy.loc[(qld_reorder_copy['Week']>36)& (qld_reorder_copy['DATE']>"2022-09-09"),:]

#NT
nt_reorder_loc = nt_reorder_copy.loc[(nt_reorder_copy['Week']>36)& (nt_reorder_copy['DATE']>"2022-09-09"),:]

#WA
wa_reorder_loc = wa_reorder_copy.loc[(wa_reorder_copy['Week']>36)& (wa_reorder_copy['DATE']>"2022-09-09"),:]

#SA
sa_reorder_loc = sa_reorder_copy.loc[(sa_reorder_copy['Week']>36)& (sa_reorder_copy['DATE']>"2022-09-09"),:]

#TAS
tas_reorder_loc = tas_reorder_copy.loc[(tas_reorder_copy['Week']>36)& (tas_reorder_copy['DATE']>"2022-09-09"),:]

In [11]:
#groupby week from 16/09/2022 to the current due to the data was given in weekly only
#VIC
vic_reorder_loc_groupby = vic_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
vic_reorder_loc_groupby = pd.DataFrame(vic_reorder_loc_groupby).reset_index()

#ACT
act_reorder_loc_groupby = act_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
act_reorder_loc_groupby = pd.DataFrame(act_reorder_loc_groupby).reset_index()

#NSW
nsw_reorder_loc_groupby = nsw_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
nsw_reorder_loc_groupby = pd.DataFrame(nsw_reorder_loc_groupby).reset_index()

#QLD
qld_reorder_loc_groupby = qld_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
qld_reorder_loc_groupby = pd.DataFrame(qld_reorder_loc_groupby).reset_index()

#NT:
nt_reorder_loc_groupby = nt_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
nt_reorder_loc_groupby = pd.DataFrame(nt_reorder_loc_groupby).reset_index()

#WA:
wa_reorder_loc_groupby = wa_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
wa_reorder_loc_groupby = pd.DataFrame(wa_reorder_loc_groupby).reset_index()

#SA
sa_reorder_loc_groupby = sa_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
sa_reorder_loc_groupby = pd.DataFrame(sa_reorder_loc_groupby).reset_index()

#TAS
tas_reorder_loc_groupby = tas_reorder_loc.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "sum",
                                                 "ICU": "sum",
                                                 "VENT": "sum",
                                                 "NEW CASES": "sum",
                                                 "CURRENT CASES": "sum",
                                                 "DEATHS": "sum",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
tas_reorder_loc_groupby = pd.DataFrame(tas_reorder_loc_groupby).reset_index()

#testing data
vic_reorder_loc_groupby

,Week,DATE,HOSP,ICU,VENT,NEW CASES,CURRENT CASES,DEATHS,NEW RAT CASES,CURRENT RAT CASES
0,37,2022-09-12,210.0,11.0,4.0,13252.0,2594811.0,5530.0,1259.714286,1.450942e+06
1,38,2022-09-19,145.0,8.0,2.0,10360.0,2604039.0,5572.0,1035.285714,1.453121e+06
2,39,2022-09-26,145.0,12.0,2.0,9458.0,2612409.0,5664.0,1145.857143,1.460174e+06
3,40,2022-10-03,137.0,11.0,3.0,9230.0,2621217.0,5706.0,1011.857143,1.466277e+06
4,41,2022-10-10,148.0,7.0,1.0,8061.0,2630360.0,5751.0,853.571429,1.472905e+06
5,42,2022-10-17,139.0,7.0,3.0,6860.0,2637134.0,5784.0,745.714286,1.478671e+06
6,43,2022-10-24,172.0,8.0,2.0,8537.0,2645945.0,5833.0,966.000000,1.484642e+06
7,44,2022-10-31,231.0,9.0,3.0,10226.0,2656842.0,5856.0,1262.857143,1.492281e+06
8,45,2022-11-07,274.0,9.0,1.0,16636.0,2674120.0,5896.0,2040.000000,1.504273e+06
9,46,2022-11-14,352.0,19.0,3.0,20398.0,2691733.0,5931.0,2232.285714,1.519343e+06

In [27]:
#sorting data by Date
#VIC
vic_reorder_loc_sort =vic_reorder_loc_groupby.sort_values(by = "DATE", ascending=False)
vic_reorder_loc_sort

,Week,DATE,HOSP,ICU,VENT,NEW CASES,CURRENT CASES,DEATHS,NEW RAT CASES,CURRENT RAT CASES
9,46,2022-11-14,352.0,19.0,3.0,20398.0,2691733.0,5931.0,2232.285714,1.519343e+06
8,45,2022-11-07,274.0,9.0,1.0,16636.0,2674120.0,5896.0,2040.000000,1.504273e+06
7,44,2022-10-31,231.0,9.0,3.0,10226.0,2656842.0,5856.0,1262.857143,1.492281e+06
6,43,2022-10-24,172.0,8.0,2.0,8537.0,2645945.0,5833.0,966.000000,1.484642e+06
5,42,2022-10-17,139.0,7.0,3.0,6860.0,2637134.0,5784.0,745.714286,1.478671e+06
4,41,2022-10-10,148.0,7.0,1.0,8061.0,2630360.0,5751.0,853.571429,1.472905e+06
3,40,2022-10-03,137.0,11.0,3.0,9230.0,2621217.0,5706.0,1011.857143,1.466277e+06
2,39,2022-09-26,145.0,12.0,2.0,9458.0,2612409.0,5664.0,1145.857143,1.460174e+06
1,38,2022-09-19,145.0,8.0,2.0,10360.0,2604039.0,5572.0,1035.285714,1.453121e+06
0,37,2022-09-12,210.0,11.0,4.0,13252.0,2594811.0,5530.0,1259.714286,1.450942e+06

In [22]:
#obtaining the remaining data after filtering
vic_reorder_loc_remaining = vic_reorder_copy.loc[vic_reorder_copy.index.difference(vic_reorder_loc.index)]
vic_reorder_loc_remaining

,DATE,HOSP,ICU,VENT,NEW CASES,CURRENT CASES,DEATHS,NEW RAT CASES,CURRENT RAT CASES,Year,Week
70,2022-09-11,NaN,NaN,NaN,NaN,NaN,NaN,987.0,1450001.0,2022,36
71,2022-09-10,NaN,NaN,NaN,NaN,NaN,NaN,1254.0,1449014.0,2022,36
72,2022-09-09,213.0,13.0,3.0,2106.0,2583208.0,5464.0,1613.0,1447760.0,2022,36
73,2022-09-08,227.0,15.0,4.0,2102.0,2581130.0,5423.0,1634.0,1446147.0,2022,36
74,2022-09-07,222.0,18.0,3.0,2237.0,2579060.0,5399.0,1692.0,1444513.0,2022,36
...,...,...,...,...,...,...,...,...,...,...,...
1026,2020-01-29,NaN,NaN,NaN,2.0,3.0,0.0,NaN,NaN,2020,5
1027,2020-01-28,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,2020,5
1028,2020-01-27,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,2020,5
1029,2020-01-26,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,2020,4
1030,2020-01-25,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,2020,4

In [23]:
vic_reorder_daily = vic_reorder_loc_remaining.groupby(['Week']).agg({"DATE":"last", 
                                                 "HOSP": "mean",
                                                 "ICU": "mean",
                                                 "VENT": "mean",
                                                 "NEW CASES": "mean",
                                                 "CURRENT CASES": "mean",
                                                 "DEATHS": "mean",
                                                 "NEW RAT CASES": "mean",
                                                 "CURRENT RAT CASES": "mean"})
vic_groupby_daily = pd.DataFrame(vic_reorder_daily)
vic_groupby_daily

vic_groupby_daily_sort =vic_groupby_daily.sort_values(by = "DATE", ascending=False)
vic_groupby_daily_sort

,DATE,HOSP,ICU,VENT,NEW CASES,CURRENT CASES,DEATHS,NEW RAT CASES,CURRENT RAT CASES
Week,,,,,,,,,
3,2021-01-18,563.428571,61.714286,20.000000,9473.928571,345126.714286,1285.142857,9232.428571,1.708873e+05
2,2021-01-11,480.285714,54.642857,15.000000,17043.142857,261180.214286,1228.071429,15657.714286,9.790800e+04
1,2021-01-04,311.285714,41.714286,11.357143,12820.571429,142643.214286,1189.357143,9695.800000,1.264360e+04
53,2020-12-28,0.142857,0.000000,0.000000,4.142857,20373.714286,820.000000,NaN,NaN
52,2020-12-21,205.142857,30.214286,13.285714,2441.428571,96517.071429,1168.000000,NaN,NaN
51,2020-12-14,194.428571,37.071429,20.785714,848.000000,86080.285714,1147.285714,NaN,NaN
50,2020-12-07,185.571429,41.071429,21.857143,697.571429,80864.285714,1128.000000,NaN,NaN
49,2020-11-30,155.071429,28.428571,13.500000,590.714286,76411.714286,1108.785714,NaN,NaN
48,2020-11-23,147.785714,21.214286,9.428571,575.500000,72302.214286,1083.214286,NaN,NaN
47,2020-11-16,151.000000,22.857143,12.428571,570.071429,68312.857143,1062.214286,NaN,NaN
46,2020-11-09,174.214286,31.357143,17.142857,526.714286,64408.571429,1037.785714,NaN,NaN
45,2020-11-02,235.857143,41.285714,25.000000,553.714286,60878.500000,1013.428571,NaN,1.000000e+00
44,2020-10-26,326.071429,57.500000,36.785714,602.928571,56927.071429,984.785714,NaN,NaN
43,2020-10-19,383.214286,69.071429,42.857143,750.214286,52530.285714,950.500000,NaN,NaN
42,2020-10-12,404.857143,73.357143,48.071429,972.785714,46698.142857,910.142857,NaN,NaN
41,2020-10-05,369.714286,75.000000,49.214286,931.071429,40042.785714,874.500000,NaN,NaN
40,2020-09-28,299.357143,57.071429,37.214286,854.357143,33851.142857,844.285714,NaN,NaN
39,2020-09-21,234.714286,47.000000,30.928571,565.642857,28731.714286,816.428571,NaN,NaN
38,2020-09-14,187.428571,36.714286,24.285714,367.857143,25502.285714,791.142857,NaN,NaN
37,2020-09-07,181.428571,32.428571,20.214286,268.000000,23347.928571,764.071429,NaN,NaN
36,2020-08-31,241.526316,23.052632,12.842105,700.473684,694649.421053,1951.578947,1508.571429,1.445870e+06
35,2020-08-24,309.523810,22.333333,11.190476,876.095238,869176.476190,2206.095238,1826.285714,1.434544e+06
34,2020-08-17,356.523810,24.809524,13.761905,1068.380952,862700.809524,2127.714286,1186.846154,7.103334e+05
33,2020-08-10,392.761905,24.809524,12.333333,1424.238095,854633.428571,2041.380952,1464.857143,7.017356e+05
32,2020-08-03,385.428571,24.000000,10.950000,1865.619048,843637.285714,1950.333333,1916.714286,6.902770e+05
31,2020-07-27,350.380952,27.428571,9.526316,2772.904762,828360.952381,1874.952381,2951.714286,6.742491e+05
30,2020-07-20,347.761905,25.714286,9.631579,3669.285714,806633.190476,1792.428571,4025.857143,6.504435e+05
29,2020-07-13,322.714286,20.952381,9.000000,4022.238095,779445.142857,1709.238095,4449.285714,6.203884e+05
28,2020-07-06,265.761905,15.142857,3.571429,3496.571429,752634.380952,1656.238095,3833.928571,5.912668e+05
27,2020-06-29,204.000000,11.523810,2.285714,3014.714286,729680.523810,1626.666667,3295.571429,5.669851e+05
26,2020-06-22,158.380952,8.619048,2.142857,2753.857143,710172.761905,1586.095238,2892.285714,5.461124e+05
25,2020-06-15,143.523810,8.857143,3.571429,2320.000000,693056.571429,1550.952381,2542.428571,5.283337e+05
24,2020-06-08,153.428571,9.809524,2.809524,2260.333333,677110.857143,1508.476190,2849.916667,5.512204e+05
23,2020-06-01,167.761905,9.619048,2.333333,2582.666667,662471.047619,1468.904762,5400.000000,9.929694e+05
22,2020-05-25,177.095238,11.000000,3.238095,3010.476190,645607.666667,1428.666667,6307.000000,9.585756e+05
21,2020-05-18,186.619048,12.571429,3.571429,3506.857143,624493.190476,1390.809524,7380.714286,9.148356e+05
20,2020-05-11,177.857143,12.190476,3.428571,4116.619048,598471.190476,1344.523810,9158.285714,8.606871e+05
19,2020-05-04,175.809524,12.190476,3.428571,4129.142857,569416.571429,1307.619048,8896.714286,7.999167e+05
18,2020-04-27,167.238095,12.857143,3.952381,3291.857143,543211.095238,1281.952381,6873.857143,7.470191e+05
17,2020-04-20,154.857143,14.857143,4.571429,3138.380952,521124.380952,1258.714286,6396.285714,7.050367e+05
16,2020-04-13,155.238095,14.809524,5.947368,2996.857143,500662.714286,1235.428571,6040.571429,6.634421e+05
15,2020-04-06,145.523810,11.000000,2.214286,3275.095238,480350.047619,1216.380952,6453.714286,6.245990e+05
14,2020-03-30,122.142857,7.333333,1.428571,3674.523810,458006.000000,1198.666667,7295.857143,5.827019e+05
13,2020-03-23,103.047619,7.047619,2.071429,3416.714286,434065.857143,1188.047619,6904.428571,5.368447e+05
12,2020-03-16,98.944444,10.571429,2.000000,3007.285714,411657.952381,1174.095238,6228.714286,4.935117e+05
11,2020-03-09,101.214286,11.642857,2.785714,2655.190476,391599.095238,1160.857143,5616.285714,4.547587e+05
10,2020-03-02,97.785714,14.000000,2.285714,2172.904762,375057.095238,1146.714286,4500.857143,4.217557e+05
9,2020-02-24,127.642857,16.857143,3.142857,2108.000000,360344.714286,1119.476190,4400.285714,3.927926e+05
8,2020-02-17,158.214286,21.928571,3.285714,2073.619048,345929.523810,1081.190476,4222.714286,3.650430e+05
7,2020-02-10,200.714286,32.285714,7.285714,2381.333333,331207.333333,1051.380952,4830.571429,3.372343e+05
6,2020-02-03,272.071429,36.928571,11.857143,2873.380952,313440.095238,1017.476190,5772.285714,3.039826e+05
5,2020-01-27,377.857143,44.357143,15.071429,3538.285714,291703.142857,969.809524,6280.285714,2.646137e+05
4,2020-01-25,502.214286,57.642857,20.428571,5960.066667,346601.062500,1191.250000,7124.428571,2.209069e+05

In [25]:
vic_stack = pd.concat([vic_reorder_loc_sort,vic_groupby_daily_sort],axis=0)
vic = vic_stack[["DATE","HOSP", "ICU", "VENT", "NEW CASES", "CURRENT CASES", "DEATHS", "NEW RAT CASES", "CURRENT RAT CASES"]]
vic

,DATE,HOSP,ICU,VENT,NEW CASES,CURRENT CASES,DEATHS,NEW RAT CASES,CURRENT RAT CASES
9,2022-11-14,352.000000,19.000000,3.000000,20398.000000,2.691733e+06,5931.000000,2232.285714,1.519343e+06
8,2022-11-07,274.000000,9.000000,1.000000,16636.000000,2.674120e+06,5896.000000,2040.000000,1.504273e+06
7,2022-10-31,231.000000,9.000000,3.000000,10226.000000,2.656842e+06,5856.000000,1262.857143,1.492281e+06
6,2022-10-24,172.000000,8.000000,2.000000,8537.000000,2.645945e+06,5833.000000,966.000000,1.484642e+06
5,2022-10-17,139.000000,7.000000,3.000000,6860.000000,2.637134e+06,5784.000000,745.714286,1.478671e+06
...,...,...,...,...,...,...,...,...,...
8,2020-02-17,158.214286,21.928571,3.285714,2073.619048,3.459295e+05,1081.190476,4222.714286,3.650430e+05
7,2020-02-10,200.714286,32.285714,7.285714,2381.333333,3.312073e+05,1051.380952,4830.571429,3.372343e+05
6,2020-02-03,272.071429,36.928571,11.857143,2873.380952,3.134401e+05,1017.476190,5772.285714,3.039826e+05
5,2020-01-27,377.857143,44.357143,15.071429,3538.285714,2.917031e+05,969.809524,6280.285714,2.646137e+05
4,2020-01-25,502.214286,57.642857,20.428571,5960.066667,3.466011e+05,1191.250000,7124.428571,2.209069e+05

In [ ]:
# connect to SQL database 

protocol = 'postgresql'
username = config.username
password = config.password
host = 'localhost'
port = 5432
database_name = config.database_name
# rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
# engine = create_engine(rds_connection_string)
# insp = inspect(engine)

In [ ]:
#convert PostgresSQL file to SQLite to use API.
# # create a sqlite db
# sqliteConnection = sqlite3.connect("Resources/covid-19.db")
# sqliteCursor = sqliteConnection.cursor()

# sqliteConnection.text_factory = lambda x: unicode(x, 'utf-8', 'ignore')

# # connect to postgresql

# pgConnection=psycopg2.connect(rds_connection_string)
# pgCursor = pgConnection.cursor()

# # select from the table
# pgCursor.execute("SELECT * from entry")
# rows = pgCursor.fetchall()

# # loop and insert into sqlite
# for row in rows:
#     sqliteCursor.execute("INSERT INTO ENTRY (id, title ) VALUES (:id, :title)", {"id": row[0], "title": row[1]})
#     sqliteConnection.commit()

# # close all connections
# sqliteConnection.close()
# pgConnection.close()